nav{
    padding: 10px !important;
    height: 10vh;
}

main{
    width: 80vw;
    margin: auto;
    min-height: 80vh;
}

footer{
    display: flex;
    width: 100%;
    text-align: center;
    border-top: solid 1px rgb(204, 204, 204); 
    justify-content: center;
    height: 10vh;
    align-items: center;
}